@model IEnumerable<CarGarageManager.Models.CarModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarBrand)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarBrand.CarBrandName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarModelID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CarModelID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CarModelID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
